# Environment
.env
.env.*

# Go
bin/
tmp/

# Secrets
keys/

# Node
node_modules/
.next/
out/

# IDE
.idea/
.vscode/

# OS
.DS_Store
# ZK generated build artifacts
zk/build/

# Hardhat generated artifacts
blockchain/artifacts/
blockchain/cache/
